<div data-controller="users">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Users</h1>
    <div class="btn-toolbar mb-3 mb-md-0">
      <div class="btn-group me-3">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-action="click->users#allUser">all</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-action="click->users#clientUser">Clients</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" data-action="click->users#adminUser">Administrators </button>
      </div>
      <div class="btn-group me-2">
        <a href="<%= new_user_path %>" class="btn btn-sm btn-outline-secondary">Create user</a>
        <label for="customFile" class="btn btn-sm btn-outline-secondary">Import CSV</label>
      </div>
    </div>
  </div>
  
  <input type="file" class="btn btn-sm btn-outline-secondary" style="visibility:hidden;" id="customFile" data-action="change->users#importFile">

  <h3>All</h3>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Avatar</th>
          <th scope="col">Role</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody data-users-target="list"></tbody>
    </table>
  </div>
</div>